@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Dancing+Script&family=Lobster+Two&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Lobster Two", cursive;
  color: #1c1c1c;
}
.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadows: 6px 6px 6px #0e1d2f;
  padding: 64px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}
.perfil {
  display: flex;
}
.foto {
  border-radius: 400px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 590;
  font-size: 30px;
}
.tema button {
  align-self: flex-end;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projetos {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulos {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 36px;
}
li {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}
li a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: linear-gradient(230.65deg, #06234a 27.26%, #0a3a79 96.03%);
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}
.dark .tema button {
  background: #06234a;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}
